:host{
    display:block;
    margin: 0.4em;
    border-bottom: 2px solid lightgrey;
    clear: both;
    overflow: auto;
}
img{
    float: left;
    width: 15%;
}
h1{
    display: block;
    float: left;
    width: 85%;
}